:root {
    --main-dark-red: #630000;
    --main-light-red: #834040;
    --main-off-white: #EEEEE0;
}

.resist-roller {
    font-family: "Alegreya";
    // Unfortunately svelte will kindly devour any "unused" classes
    &.dropdown {
        .options {
            [role="option"] {
                text-align: center;
                border: solid 1px black;
                margin-bottom: -0px;

                &:hover {
                    border: solid 1px orange;
                    box-shadow: 0 0 8px red;
                }
            }

            background-color: white;
        }

        position: absolute;
        z-index: 1001;
        will-change: top,
        left;
        transform-origin: left top 0px;
        overflow: inherit;
        box-sizing: border-box;
    }

    .dropdown-root.name-selector {
        grid-column: 1 / 3;
    }

    .text--dramatic {
        font-size: 1.3em;
        text-transform: uppercase;
        font-weight: bold;
        font-family: "MelmaLine";
    }

    .text--nowrap {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    // Generic outline thingy
    .box {
        padding: 3px;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        min-width: 0px;

        h2 {
            text-align: center;
        }
    }

    // Specifically fixes the 
    .adversary {
        grid-column: 1;
        grid-row: 1 / 3;
    }
}