.dropdown {
    .options {
        [role="option"] {
            text-align: center;
            border: solid 1px black;
            margin-bottom: -0px;

            &:hover {
                border: solid 1px orange;
                box-shadow: 0 0 8px red;
            }
        }
        background-color: white;

    }
    position: absolute;
    z-index: 1001;
    will-change: top, left;
    transform-origin: left top 0px;
    overflow: inherit;
    box-sizing: border-box;
}

.text--dramatic {
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
}

.text--nowrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}